name: Continuous Integration

on:
  push:
    branches: [main]

permissions:
  packages: write

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'

      - name: Install dependencies
        run: go get .

      - name: Build
        run: go build -v

      - name: Test
        run: go test ./...

      - name: Linter
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.62.2

      - uses: ko-build/setup-ko@v0.8

      - name: Push
        env:
          COMMIT_HASH: ${{ github.sha }}
        run: ko build --tags=edge --sbom=none --bare
